

head
	link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
	script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')

body#LoginForm
	.container.mt-5
		.login-form
			.main-div
				.panel
					h2 Recuperación de Password
					p Hemos enviado un correo electrónico a la cuenta suministrada con las instrucciones necesarias para la recuperación de las credenciales de acceso.

					a(href='/login') Regresar
