
head
  link(rel='stylesheet', href='../../assets/style.css')  
body   
  .login
    h1 Red de Bicicletas Urbanas
    
    .div
      if info && info.message 
            div.alert-danger
              = info.message

    form(action='/login' method='post')
      p
        input(type='text' name="username" value='' placeholder='Nombre de usuario o Email')
      p
        input(type='password' name='password' value='' placeholder='Password')
      p.remember_me
        label
          input#remember_me(type='checkbox' name='remember_me')
          |         Recuérdame en este equipo
      .google          
         a(href='/auth/google') Log In con Google
      br
      p.submit
        input(type='submit' name='commit' value='Login')

  .login-help
    p
      | Olvidó su password? 
      a(href='/forgotPassword') De click aqui para recuperar el password.
      | .
