
head
	link(rel='stylesheet' href='../../assets/style.css')  
	
body   
	.login
		h1 Red de Bicicletas Urbanas

		.div
			if info && info.message 
				div.alert-danger
					= info.message

		.text-center
			h2 Cambio de password		

		form(action='/forgotpassword/resetPassword' method='post')
				input#email(type='hidden' name='email' value= usuario.email)
				.form-group
					label(for='pwd') Password: 
					input#pwd.form-control(type='password' name='password' class= errors.password ? 'is-invalid' : '')
					br
					if errors.password
						small#passwordHelp.text-danger
							= errors.password.message  
				.form-group
					label(for='confirm_pwd') Confirmar Password: 
					input#confirmpassword.form-control(type='password' name='confirmpassword' class= errors.confirmpassword ? 'is-invalid' : '')
					br
					if errors.confirmpassword
						small#confirmpassword.text-danger
							= errors.confirmpassword.message
				p.submit
					input(type='submit' name='commit' value='Reiniciar')