doctype html
html
  head
    title= title
        

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Grayscale - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/style.css')
        
        
        link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')

   
  body#page-top
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-light
            .container
                a.navbar-brand.js-scroll-trigger(href='/').text-primary BiciRed - Trochas Payanesas (TROPA)
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about').text-primary Nosotros
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#projects').text-primary Bicicletas OnLine
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='/bicicletas').text-primary Bicicletas
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='/usuarios').text-primary Usuarios
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#signup').text-primary Contacto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='/login/logout').text-primary Salir
  br
  br
  br
  block content

    
