extend ../layout

block content

	.container.mt-5
		a(href='/index') Volver
		br
		br
		h3 Nuevo Usuario
		br
		br
		form(action = "/usuarios/create" method="post")
			.form-group
				label(for='codigo') Codigo:
				input#codigo.form-control(type='text' name='codigo' value=usuario.codigo class=errors.codigo ? 'is-invalid' : '')
				if errors.codigo
					small#codigoerror.text-danger
						= errors.codigo.message
						
			.form-group
				label(for='nombre') Nombre:
				input#nombre.form-control(type='text' name='nombre' value=usuario.nombre class=errors.nombre ? 'is-invalid' : '')
				if errors.nombre
					small#nombreerror.text-danger
						= errors.nombre.message

			.form-group
				label(for='email') Email:
				input#email.form-control(type='text' name='email' value=usuario.email class=errors.email ? 'is-invalid' : '')
				if errors.email
					small#emailerror.text-danger
						= errors.email.message
			
			.form-group
				label(for='password') Password:
				input#password.form-control(type='text' name='password' class=errors.password ? 'is-invalid' : '')
				if errors.password
					small#passworderror.text-danger
						= errors.password.message

			.form-group
				label(for='confirmpassword') Confirmar Password:
				input#confirmpassword.form-control(type='text' name='confirmpassword' class=errors.confirmpassword ? 'is-invalid' : '')
				if errors.confirmpassword
					small#confirmpassworderror.text-danger
						= errors.confirmpassword.message
			
			br
			br
			input.btn.btn-primary(type='submit' value='Guardar')
