extend ../layout

block content
	.container.mt-5
		.row.text-right
			a(href='/usuarios/create') Nuevo Registro
		table.table
			thead
				tr
					th(scope='col') Codigo
					th(scope='col') Nombre
					th(scope='col') Email
					th(scope='col') Verificado
					th(scope='col') 
					th(scope='col') 
					th(scope='col') 
			tbody
				each usuario in listado
					tr(scope='row')
						td= usuario.codigo
						td= usuario.nombre
						td= usuario.email
						td= usuario.verificado
						td
							form.inline(method='post' action='/usuarios/' + usuario.id + '/delete')
								input(type='hidden' name='id' value=usuario.id)
								button.btn.btn-link.p-0(type='submit' name='submit_param' value='submit_value' )
									= 'Eliminar'
						td
							a(href='/usuarios/'+ usuario.id + '/update') Editar
						td
							a(href='/usuarios/'+ usuario.id + '/preview') preview
