extend ../layout

block content

	.container.mt-5
		a(href='/usuarios') Volver
		br
		br
		h3 Detalle de Usuario
		br
		br
		.mb-3.row
			label(for='codigo') Codigo:
			input#codigo(type='text' name='codigo' value=usuario.codigo readonly).form-control
		.mb-3.row
			label(for='nombre') Nombre:
			input#nombre(type='text' name='nombre' value=usuario.nombre readonly).form-control
		.mb-3.row
			label(for='email') Email:
			input#email(type='text' name='email' value=usuario.email readonly).form-control

		
		
				
			
		