extend ../layout

block content

	.container.mt-5
		a(href='/usuarios') Volver
		br
		br
		h3 Actualizar Usuario
		br
		br
		form(action = `/usuarios/${usuario.id}/update` method="post")

			.form-group
				label(for='codigo') Codigo:
				input#codigo.form-control(type='text' name='codigo' value=usuario.codigo class=errors.codigo ? 'is-invalid' : '')
				if errors.codigo
					small#codigoerror.text-danger
						= errors.codigo.message

			.form-group
				label(for='nombre') Nombre:
				input#nombre.form-control(type='text' name='nombre' value=usuario.nombre class=errors.nombre ? 'is-invalid' : '')
				if errors.nombre
					small#nombreerror.text-danger
						= errors.nombre.message		
			
			br
			br
			input.btn.btn-primary(type='submit' value='Actualizar')
