extend ../layout

block content
	.container.mt-5
		a(href='/bicicletas') Volver		

		form(action='/bicicletas/create' method='post')
			label(for='id') Codigo:
			input#id(type='text' name='codigo').form-control
			br
			label(for='color') Color:
			input#color(type='text' name='color').form-control
			br
			label(for='modelo') Moedelo:
			input#modelo(type='text' name='modelo').form-control
			br
			label(for='latitud') Latitud:
			input#latitud(type='text' name='latitud').form-control
			br
			label(for='longitud') Longitud:
			input#longitud(type='text' name='longitud').form-control
			br
			input(type="submit", value="Ok").btn.btn-primary