extend ../layout

block content
	.container.mt-5
		.row.text-right
			a(href='/bicicletas/create') Nuevo Registro
		table.table
			thead
				tr
					th(scope='col') #
					th(scope='col') Color
					th(scope='col') Modelo
					th(scope='col') Ubicacion
					th(scope='col') 
					th(scope='col') 
					th(scope='col') 
			tbody
				each bici in listado
					tr(scope='row')
						td= bici.codigo
						td= bici.color
						td= bici.modelo
						td= bici.ubicacion
						td
							form.inline(method='post' action='/bicicletas/' + bici.id + '/delete')
								input(type='hidden' name='id' value=bici.id)
								button.btn.btn-link.p-0(type='submit' name='submit_param' value='submit_value' )
									= 'Eliminar'
						td
							a(href='/bicicletas/'+ bici.id + '/update') Editar
						td
							a(href='/bicicletas/'+ bici.id + '/preview') preview
