extend ../layout

block content
	.container.mt-5
		a(href='/bicicletas') Volver	
		br
		br
		h3 Detalles de la Bicicleta	
		br
		br
		.mb-3.row
			label(for='codigo') Codigo:
			input#id(type='text' name='codigo' value=bici.codigo readonly).form-control
		.mb-3.row
			label(for='color') Color:
			input#color(type='text' name='color' value=bici.color readonly).form-control
		.mb-3.row
			label(for='modelo') Moedelo:
			input#modelo(type='text' name='modelo' value=bici.modelo readonly).form-control
		.mb-3.row
			label(for='latitud') Latitud:
			input#latitud(type='text' name='latitud' value=bici.ubicacion[0] readonly).form-control
		.mb-3.row
			label(for='longitud') Longitud:
			input#longitud(type='text' name='longitud' value=bici.ubicacion[1] readonly).form-control
						