extend ../layout

block content
	.container.mt-5
		a(href='/bicicletas') Volver		

		br
		br
		h3 Actualizando datos de la bicicleta
		br
		br
		form(action=`/bicicletas/${bici.id}/update` method='post')
			label(for='codigo') Código:
			input#id(type='text' name='codigo' value=bici.codigo).form-control
			br
			label(for='color') Color:
			input#color(type='text' name='color' value=bici.color ).form-control
			br
			label(for='modelo') Moedelo:
			input#modelo(type='text' name='modelo' value=bici.modelo ).form-control
			br
			label(for='latitud') Latitud:
			input#latitud(type='text' name='latitud' value=bici.ubicacion[0] ).form-control
			br
			label(for='longitud') Longitud:
			input#longitud(type='text' name='longitud' value=bici.ubicacion[1]).form-control
			br
			input(type="submit", value="Ok").btn.btn-primary